{% extends 'base.html' %}

{% block title %}Baloncesto{% endblock %}

{% block content %}

<div class="container py-5">

    <div class="text-center mb-4">

        <h1 class="display-4 fw-bold">
            🏀 {{ tema.nombre }}
        </h1>

        <p class="lead">
            {{ tema.descripcion }}
        </p>

    </div>


    <div id="carouselBaloncesto"
         class="carousel slide shadow"
         data-bs-ride="carousel">

        <div class="carousel-indicators">

            <button type="button"
                    data-bs-target="#carouselBaloncesto"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Imagen 1">
            </button>

            <button type="button"
                    data-bs-target="#carouselBaloncesto"
                    data-bs-slide-to="1"
                    aria-label="Imagen 2">
            </button>

        </div>


        <div class="carousel-inner">

            <div class="carousel-item active">

                <img src="/static/images/basquet1.jpg"
                     class="d-block w-100"
                     alt="Baloncesto">

            </div>


            <div class="carousel-item">

                <img src="/static/images/basquet2.jpg"
                     class="d-block w-100"
                     alt="Baloncesto">

            </div>

        </div>


        <button class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselBaloncesto"
                data-bs-slide="prev">

            <span class="carousel-control-prev-icon"></span>

            <span class="visually-hidden">
                Anterior
            </span>

        </button>


        <button class="carousel-control-next"
                type="button"
                data-bs-target="#carouselBaloncesto"
                data-bs-slide="next">

            <span class="carousel-control-next-icon"></span>

            <span class="visually-hidden">
                Siguiente
            </span>

        </button>

    </div>


    <div class="text-center mt-4">

        <a href="{% url 'inicio:inicio' %}"
           class="btn btn-secondary">

            Volver al inicio

        </a>

    </div>

</div>

{% endblock %}